<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About us - Brand</title>
   <link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/untitled.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
 <style type="text/css">
 #white {
                
                color:white;
                
            }
  </style>          
</head>

<body class="text-center" style="background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url({{ url_for('static',filename='assets/img/fcrit.jpg')}}) center / auto;">
    <h1 class="text-center text-white d-none d-lg-block site-heading"><span class="text-primary site-heading-upper mb-3">FCRIT Online Canteen</span><span class="site-heading-lower">about us</span></h1>
    <nav class="navbar navbar-light navbar-expand-lg bg-dark py-lg-4" id="mainNav">
        <div class="container"><a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#">fcrit canteen</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="{{url_for('home')}}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('about')}}">About us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('products1')}}">Products</a></li>
                     <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Menu
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{{url_for('indianmenu')}}"> Snacks</a>
                      <a class="dropdown-item" href="{{url_for('menu')}}">Chinese</a>

                      <a class="dropdown-item" href="{{url_for('lunchbev')}}">Lunch and Beverages</a>
                    </div>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('store')}}">Store</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('products')}}">
                      <ion-icon size="large" name="cart-outline"></ion-icon><span>{{ session['all_total_quantity'] }}</span></a></li>

                </ul>
        </div>
        </div>
                <!-- Navbar Right Side -->
              <div class="navbar-nav">
               <li class="nav-item"> <a href="{{ url_for('pro') }}"><i class="fas fa-user-circle"></i>Profile </a></li>
                <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
              </div>
            </div>
          </div>
    </nav>
    <section class="page-section about-heading">
        <div class="container"><img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{{ url_for('static', filename='assets/img/log.jpg') }}" style="width: 500px;">
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-lg-10 col-xl-9 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4"><span class="section-heading-upper">A college with a difference!!<br></span><span class="section-heading-lower">&nbsp;About&nbsp; Fcrit</span></h2>
                            <p>Fr. CRIT. has, within a short span of time, established itself as a leading engineering college in Mumbai University. Though its reputation rests mainly on the high quality, value-based technical education that it imparts,
                                it has to its credit a verdant, well-maintained Campus and extensive facilities. Its location in the vicinity of the holy places of various religious denominations underscores its secular credentials and its philosophy
                                of&nbsp;<strong>"Vasudhaiva Kuttumbakam"</strong>. The college prides on being one of few that has&nbsp;<strong>accreditation for all five branches.</strong><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright&nbsp;©&nbsp;Brand 2020</p>
        </div>
    </footer>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
  <script src="{{ url_for('static',filename='assets/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/current-day.js')}}"></script>
</body>

</html>
