{% extends 'layout.html' %}

{% block title %}Admin Home{% endblock %}

{% block content %}
<h2 style="color: white;">Home Page</h2>
<p>Welcome back, {{ username }}!</p>
<br>
<h1><a class="nav-item nav-link" id="white"href="/menudb">Chinese Menu Update</a></h1>
<h1><a class="nav-item nav-link" id="white"href="/menudb1">Indian Menu Update</a></h1>
<h1><a class="nav-item nav-link" id="white"href="/menudb2">Lunch and Beverage Update</a></h1>
<h1><a class="nav-item nav-link" id="white"href="/orderhistory">Total Order History</a></h1>
{% endblock %}