<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Delete Item(Lunch and Beverage)</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="text-center" style="background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url(/static/assets/img/fcrit.jpg) center / auto;">
		<div class="login  @ FCRIT-Canteen">
			<h1><a href="{{ url_for('lbdel') }}" class="active">Delete Item</a></h1>
			
			<form action="{{ url_for('lbdel') }}" method="post">
				<label for="name">

				</label>
				<input type="text" name="name" placeholder="name" id="name" required>
				
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Delete Item">
			</form>
		</div>
	</body>
</html>